In [1]:
import sklearn
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
coffee_clim_data = pd.read_csv(r"..\data\coll_caff_node_clim.csv")
coffee_env_data = pd.read_csv(r"..\data\coll_caff_node_env.csv")

caffeine_content = pd.read_csv(r"..\data\no_caffeine_nodes_w_specimen.csv")

coffee_env_data.head

<bound method NDFrame.head of         specimen_id  source_crs  longitude   latitude  \
0       humbertii_4        4326  43.797500 -22.875000
1     richardii_256        4326  50.041667 -14.101389
2      perrieri_261        4326  46.333889 -24.560833
3      perrieri_262        4326  46.333889 -24.560833
4      perrieri_263        4326  46.333889 -24.560833
..              ...         ...        ...        ...
521   resinosa_2807        4326  47.000000 -23.000000
522   resinosa_2809        4326  48.700000 -13.580000
523   dubardii_2812        4326  49.700000 -13.180000
524   dubardii_2813        4326  49.700000 -13.180000
525  humbertii_2814        4326  44.580000 -22.920000

                                  mada_geom_point  sampled_layers  \
0     POINT (376646.4194813568 7469814.360957881)               9
1    POINT (1044838.0523195444 8435209.185751595)               9
2     POINT (635084.8917711123 7283025.482374048)               9
3     POINT (635084.8917711123 7283025.482374048)               9
4     POINT (635084.8917711123 7283025.482374048)               9
..                                            ...             ...
521   POINT (704992.1724866081 7455081.895663038)               9
522   POINT (900530.2787016315 8495683.113346167)               9
523  POINT (1009820.5473967544 8538182.939559158)               9
524  POINT (1009820.5473967544 8538182.939559158)               9
525   POINT (456932.1646449176 7465274.693208166)               9

     nodata_layers  is_categorical_encoded  env_71_alt_Altitude (meters)  \
0                0                   False                         477.0
1                0                   False                         261.0
2                0                   False                         253.0
3                0                   False                         253.0
4                0                   False                         253.0
..             ...                     ...                           ...
521              0                   False                         544.0
522              0                   False                          40.0
523              0                   False                         171.0
524              0                   False                         171.0
525              0                   False                         578.0

     env_72_slo_Slope (degrees)  \
0                          11.0
1                          13.0
2                           1.0
3                           1.0
4                           1.0
..                          ...
521                         5.0
522                         7.0
523                         8.0
524                         8.0
525                         2.0

     env_73_asp_Aspect; clockwise from North (degrees)  \
0                                                346.0
1                                                  7.0
2                                                247.0
3                                                247.0
4                                                247.0
..                                                 ...
521                                              201.0
522                                              292.0
523                                               36.0
524                                               36.0
525                                              316.0

     env_74_solrad_Solar radiation; computed from altitude, slope and aspect (Wh.m-2.day-1)  \
0                                               7929.0
1                                               8107.0
2                                               7366.0
3                                               7366.0
4                                               7366.0
..                                                 ...
521                                             7607.0
522                                             7875.0
523                                             7888.0
524                                             7888.0
525                                             7581.0

     env_75_geo_Rock types (categ_vals: 1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13)  \
0                                                  5.0
1                                                 10.0
2                                                 10.0
3                                                 10.0
4                                                 10.0
..                                                 ...
521                                               10.0
522                                                6.0
523                                               10.0
524                                               10.0
525                                                6.0

     env_76_soi_Soil types (categ_vals: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23)  \
0                                                 15.0
1                                                  6.0
2                                                 18.0
3                                                 18.0
4                                                 18.0
..                                                 ...
521                                               10.0
522                                               18.0
523                                                9.0
524                                                9.0
525                                               16.0

     env_77_veg_Vegetation types (categ_vals: 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 22, 23, 25)  \
0                                                   12
1                                                   14
2                                                    7
3                                                    7
4                                                    7
..                                                 ...
521                                                  7
522                                                  5
523                                                  6
524                                                  6
525                                                  6

     env_78_wat_Watersheds (categ_vals: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)  \
0                                                  6.0
1                                                  1.0
2                                                  6.0
3                                                  6.0
4                                                  6.0
..                                                 ...
521                                               17.0
522                                               11.0
523                                                1.0
524                                                1.0
525                                                6.0

     env_79_forcov_Percentage of forest cover in 1 km by 1 km grid cells (%)
0                                                 68.0
1                                                 87.0
2                                                  0.0
3                                                  0.0
4                                                  0.0
..                                                 ...
521                                                0.0
522                                               39.0
523                                               24.0
524                                               24.0
525                                                0.0

[526 rows x 17 columns]>

In [3]:
caffeine_content

               Species_name  caffeine_percent
0   C_andrambovatensis_A310             0.000
1          C_abbayesii_A601             0.000
2         C_arenesiana_A403             0.000
3           C_bertrandii_A5             0.000
4           C_dubardii_A969             0.000
5             C_heimii_A516             0.000
6        C_humbertii_RNF785             0.000
7           C_millotii_A222             0.000
8            C_perrieri_A12             0.000
9        C_pervilleana_A957             0.000
10            C_resinosa_A8             0.000
11        C_tsirananae_A515             0.000
12     C_vatovavyensis_A830             0.010
13            C_leroyi_A315             0.020
14     C_dolichophylla_A206             0.030
15   C_ambodirianensis_A572             0.030
16         C_richardii_A575             0.030
17         C_tetragona_A252             0.030
18     C_mauritiana_BM17_25             0.035
19      C_mauritiana_Makes4             0.035
20          C_vianneyi_A946             0.040
21   C_farafanganensis_A208             0.045
22          C_homollei_A945             0.060
23    C_kianjavatensis_A602             0.700
24        C_lancifolia_A320             0.700

In [13]:
# Define bin edges and class labels based on your data
bins = [-1, 0.0, 0.5, 100, float('inf')]  # Adjust these values based on your caffeine content distribution
labels = ['Absent', 'Low', 'High', 'Very high']  # Define your class labels

# Assuming 'caffeine_content' is the column with caffeine levels in your dataset
caffeine_content['caffeine_class'] = pd.cut(caffeine_content['caffeine_percent'], bins=bins, labels=labels)

# Check the new column
#print(caffeine_content[['caffeine_percent', 'caffeine_class']])
caffeine_content

               Species_name  caffeine_percent caffeine_class extracted_species
0   C_andrambovatensis_A310             0.000         Absent  andrambovatensis
1          C_abbayesii_A601             0.000         Absent         abbayesii
2         C_arenesiana_A403             0.000         Absent        arenesiana
3           C_bertrandii_A5             0.000         Absent        bertrandii
4           C_dubardii_A969             0.000         Absent          dubardii
5             C_heimii_A516             0.000         Absent            heimii
6        C_humbertii_RNF785             0.000         Absent         humbertii
7           C_millotii_A222             0.000         Absent          millotii
8            C_perrieri_A12             0.000         Absent          perrieri
9        C_pervilleana_A957             0.000         Absent       pervilleana
10            C_resinosa_A8             0.000         Absent          resinosa
11        C_tsirananae_A515             0.000         Absent        tsirananae
12     C_vatovavyensis_A830             0.010            Low     vatovavyensis
13            C_leroyi_A315             0.020            Low            leroyi
14     C_dolichophylla_A206             0.030            Low     dolichophylla
15   C_ambodirianensis_A572             0.030            Low   ambodirianensis
16         C_richardii_A575             0.030            Low         richardii
17         C_tetragona_A252             0.030            Low         tetragona
18     C_mauritiana_BM17_25             0.035            Low        mauritiana
19      C_mauritiana_Makes4             0.035            Low        mauritiana
20          C_vianneyi_A946             0.040            Low          vianneyi
21   C_farafanganensis_A208             0.045            Low   farafanganensis
22          C_homollei_A945             0.060            Low          homollei
23    C_kianjavatensis_A602             0.700           High    kianjavatensis
24        C_lancifolia_A320             0.700           High        lancifolia

In [14]:
coffee_clim_data['extracted_specimen'] = coffee_env_data['specimen_id'].str.split('_').str[0]
coffee_clim_data.head

<bound method NDFrame.head of         specimen_id  source_crs  longitude   latitude  \
0       humbertii_4        4326  43.797500 -22.875000
1     richardii_256        4326  50.041667 -14.101389
2      perrieri_261        4326  46.333889 -24.560833
3      perrieri_262        4326  46.333889 -24.560833
4      perrieri_263        4326  46.333889 -24.560833
..              ...         ...        ...        ...
521   resinosa_2807        4326  47.000000 -23.000000
522   resinosa_2809        4326  48.700000 -13.580000
523   dubardii_2812        4326  49.700000 -13.180000
524   dubardii_2813        4326  49.700000 -13.180000
525  humbertii_2814        4326  44.580000 -22.920000

                                  mada_geom_point  sampled_layers  \
0     POINT (376646.4194813568 7469814.360957881)              70
1    POINT (1044838.0523195444 8435209.185751595)              70
2     POINT (635084.8917711123 7283025.482374048)              70
3     POINT (635084.8917711123 7283025.482374048)              70
4     POINT (635084.8917711123 7283025.482374048)              70
..                                            ...             ...
521   POINT (704992.1724866081 7455081.895663038)              70
522   POINT (900530.2787016315 8495683.113346167)              70
523  POINT (1009820.5473967544 8538182.939559158)              70
524  POINT (1009820.5473967544 8538182.939559158)              70
525   POINT (456932.1646449176 7465274.693208166)              70

     nodata_layers  is_categorical_encoded  \
0                0                   False
1                0                   False
2                0                   False
3                0                   False
4                0                   False
..             ...                     ...
521              0                   False
522              0                   False
523              0                   False
524              0                   False
525              0                   False

     clim_1_tmin1_Monthly minimum temperature - January (°C x 10)  \
0                                                156.0
1                                                184.0
2                                                161.0
3                                                161.0
4                                                161.0
..                                                 ...
521                                              156.0
522                                              204.0
523                                              200.0
524                                              200.0
525                                              149.0

     clim_2_tmin2_Monthly minimum temperature - February (°C x 10)  ...  \
0                                                198.0              ...
1                                                218.0              ...
2                                                203.0              ...
3                                                203.0              ...
4                                                203.0              ...
..                                                 ...              ...
521                                              192.0              ...
522                                              226.0              ...
523                                              225.0              ...
524                                              225.0              ...
525                                              192.0              ...

     clim_62_pet7_Monthly potential evapotranspiration from the Thornthwaite equation - July (mm.month-1)  \
0                                                 45.0
1                                                 67.0
2                                                 46.0
3                                                 46.0
4                                                 46.0
..                                                 ...
521                                               42.0
522                                               79.0
523                                               77.0
524                                               77.0
525                                               41.0

     clim_63_pet8_Monthly potential evapotranspiration from the Thornthwaite equation - August (mm.month-1)  \
0                                                 51.0
1                                                 66.0
2                                                 52.0
3                                                 52.0
4                                                 52.0
..                                                 ...
521                                               47.0
522                                               85.0
523                                               80.0
524                                               80.0
525                                               50.0

     clim_64_pet9_Monthly potential evapotranspiration from the Thornthwaite equation - September (mm.month-1)  \
0                                                 68.0
1                                                 72.0
2                                                 70.0
3                                                 70.0
4                                                 70.0
..                                                 ...
521                                               58.0
522                                               98.0
523                                               89.0
524                                               89.0
525                                               72.0

     clim_65_pet10_Monthly potential evapotranspiration from the Thornthwaite equation - October (mm.month-1)  \
0                                                109.0
1                                                104.0
2                                                113.0
3                                                113.0
4                                                113.0
..                                                 ...
521                                               95.0
522                                              140.0
523                                              127.0
524                                              127.0
525                                              122.0

     clim_66_pet11_Monthly potential evapotranspiration from the Thornthwaite equation - November (mm.month-1)  \
0                                                123.0
1                                                121.0
2                                                137.0
3                                                137.0
4                                                137.0
..                                                 ...
521                                              108.0
522                                              144.0
523                                              138.0
524                                              138.0
525                                              131.0

     clim_67_pet12_Monthly potential evapotranspiration from the Thornthwaite equation - December (mm.month-1)  \
0                                                138.0
1                                                133.0
2                                                150.0
3                                                150.0
4                                                150.0
..                                                 ...
521                                              118.0
522                                              142.0
523                                              141.0
524                                              141.0
525                                              137.0

     clim_68_pet_Annual potential evapotranspiration from the Thornthwaite equation (mm)  \
0                                               1127.0
1                                               1228.0
2                                               1203.0
3                                               1203.0
4                                               1203.0
..                                                 ...
521                                              998.0
522                                             1480.0
523                                             1394.0
524                                             1394.0
525                                             1165.0

     clim_69_cwd_Annual climatic water deficit (mm)  \
0                                             559.0
1                                              40.0
2                                             460.0
3                                             460.0
4                                             460.0
..                                              ...
521                                           116.0
522                                           438.0
523                                           360.0
524                                           360.0
525                                           511.0

     clim_70_ndm_Number of dry months in the year (months.year-1)  \
0                                                 11.0
1                                                  4.0
2                                                 11.0
3                                                 11.0
4                                                 11.0
..                                                 ...
521                                                6.0
522                                                7.0
523                                                8.0
524                                                8.0
525                                               10.0

     extracted_specimen
0             humbertii
1             richardii
2              perrieri
3              perrieri
4              perrieri
..                  ...
521            resinosa
522            resinosa
523            dubardii
524            dubardii
525           humbertii

[526 rows x 79 columns]>

In [15]:
coffee_env_data['extracted_specimen'] = coffee_env_data['specimen_id'].str.split('_').str[0]
coffee_env_data

,specimen_id,source_crs,longitude,latitude,mada_geom_point,sampled_layers,nodata_layers,is_categorical_encoded,env_71_alt_Altitude (meters),env_72_slo_Slope (degrees),env_73_asp_Aspect; clockwise from North (degrees),"env_74_solrad_Solar radiation; computed from altitude, slope and aspect (Wh.m-2.day-1)","env_75_geo_Rock types (categ_vals: 1, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13)","env_76_soi_Soil types (categ_vals: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23)","env_77_veg_Vegetation types (categ_vals: 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 22, 23, 25)","env_78_wat_Watersheds (categ_vals: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25)",env_79_forcov_Percentage of forest cover in 1 km by 1 km grid cells (%),extracted_specimen
0,humbertii_4,4326,43.797500,-22.875000,POINT (376646.4194813568 7469814.360957881),9,0,False,477.0,11.0,346.0,7929.0,5.0,15.0,12,6.0,68.0,humbertii
1,richardii_256,4326,50.041667,-14.101389,POINT (1044838.0523195444 8435209.185751595),9,0,False,261.0,13.0,7.0,8107.0,10.0,6.0,14,1.0,87.0,richardii
2,perrieri_261,4326,46.333889,-24.560833,POINT (635084.8917711123 7283025.482374048),9,0,False,253.0,1.0,247.0,7366.0,10.0,18.0,7,6.0,0.0,perrieri
3,perrieri_262,4326,46.333889,-24.560833,POINT (635084.8917711123 7283025.482374048),9,0,False,253.0,1.0,247.0,7366.0,10.0,18.0,7,6.0,0.0,perrieri
4,perrieri_263,4326,46.333889,-24.560833,POINT (635084.8917711123 7283025.482374048),9,0,False,253.0,1.0,247.0,7366.0,10.0,18.0,7,6.0,0.0,perrieri
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,resinosa_2807,4326,47.000000,-23.000000,POINT (704992.1724866081 7455081.895663038),9,0,False,544.0,5.0,201.0,7607.0,10.0,10.0,7,17.0,0.0,resinosa
522,resinosa_2809,4326,48.700000,-13.580000,POINT (900530.2787016315 8495683.113346167),9,0,False,40.0,7.0,292.0,7875.0,6.0,18.0,5,11.0,39.0,resinosa
523,dubardii_2812,4326,49.700000,-13.180000,POINT (1009820.5473967544 8538182.939559158),9,0,False,171.0,8.0,36.0,7888.0,10.0,9.0,6,1.0,24.0,dubardii
524,dubardii_2813,4326,49.700000,-13.180000,POINT (1009820.5473967544 8538182.939559158),9,0,False,171.0,8.0,36.0,7888.0,10.0,9.0,6,1.0,24.0,dubardii
525,humbertii_2814,4326,44.580000,-22.920000,POINT (456932.1646449176 7465274.693208166),9,0,False,578.0,2.0,316.0,7581.0,6.0,16.0,6,6.0,0.0,humbertii

In [16]:
caffeine_content['extracted_species'] = caffeine_content['Species_name'].str.split('_').str[1]
caffeine_content

               Species_name  caffeine_percent caffeine_class extracted_species
0   C_andrambovatensis_A310             0.000         Absent  andrambovatensis
1          C_abbayesii_A601             0.000         Absent         abbayesii
2         C_arenesiana_A403             0.000         Absent        arenesiana
3           C_bertrandii_A5             0.000         Absent        bertrandii
4           C_dubardii_A969             0.000         Absent          dubardii
5             C_heimii_A516             0.000         Absent            heimii
6        C_humbertii_RNF785             0.000         Absent         humbertii
7           C_millotii_A222             0.000         Absent          millotii
8            C_perrieri_A12             0.000         Absent          perrieri
9        C_pervilleana_A957             0.000         Absent       pervilleana
10            C_resinosa_A8             0.000         Absent          resinosa
11        C_tsirananae_A515             0.000         Absent        tsirananae
12     C_vatovavyensis_A830             0.010            Low     vatovavyensis
13            C_leroyi_A315             0.020            Low            leroyi
14     C_dolichophylla_A206             0.030            Low     dolichophylla
15   C_ambodirianensis_A572             0.030            Low   ambodirianensis
16         C_richardii_A575             0.030            Low         richardii
17         C_tetragona_A252             0.030            Low         tetragona
18     C_mauritiana_BM17_25             0.035            Low        mauritiana
19      C_mauritiana_Makes4             0.035            Low        mauritiana
20          C_vianneyi_A946             0.040            Low          vianneyi
21   C_farafanganensis_A208             0.045            Low   farafanganensis
22          C_homollei_A945             0.060            Low          homollei
23    C_kianjavatensis_A602             0.700           High    kianjavatensis
24        C_lancifolia_A320             0.700           High        lancifolia

In [19]:
merged_df = pd.merge(
    coffee_env_data,
    caffeine_content[['extracted_species', 'caffeine_class']],
    left_on='extracted_specimen',
    right_on='extracted_species',
    how='left'  # Use 'left' join to keep all rows from coffee_env_data
)

# Step 4: Drop the helper columns
merged_df = merged_df.drop(columns=['extracted_specimen', 'extracted_species'])

# The result is the original DataFrame with an additional 'caffeine_class' column
merged_df.to_csv(r'../data/coll_caff_node_env_w_class.csv', index=False)

In [20]:
merged_df = pd.merge(
    coffee_clim_data,
    caffeine_content[['extracted_species', 'caffeine_class']],
    left_on='extracted_specimen',
    right_on='extracted_species',
    how='left'  # Use 'left' join to keep all rows from coffee_env_data
)

# Step 4: Drop the helper columns
merged_df = merged_df.drop(columns=['extracted_specimen', 'extracted_species'])

# The result is the original DataFrame with an additional 'caffeine_class' column
merged_df.to_csv(r'../data/coll_caff_node_clim_w_class.csv', index=False)